extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Paul Reyneveld

        //- Feel free personalize the title below
        p.lead.text-light
          | Web Developer

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | Hi, I'm a web developer in Portland, OR, and I'm excited to build new things! The last time I was in this field professionally I adapted static sites for use with the Drupal Content Management System. This gave me a lot of hands on experience using the LAMP stack. I left the industry for some years to work behind a bar. It was a good experience, but one that I'm ready to leave behind. For the last several months I've been brushing up on my JS skills via Team Treehouse. I look forward to finding a role that allows me to build on these newly refreshed skills.  
            
            
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li JavaScript
          li HTML
          li CSS
          li Express
          li PHP 
          li Python
          li Bash Scripting

        h6 Contact Info

        //- Add your own contact info
        ul
          li 555-555-1234
          li paul.reyneveld@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://github.com/paulreyneveld') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  
