extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Paul Reyneveld

        p.lead.text-light
          | Web Developer

        .portfolio-bio
          p
            | Hi, I'm a web developer in Portland, OR, and I'm excited to build new things! The last time I was in this field professionally I adapted static sites for use with the Drupal Content Management System. This gave me a lot of hands on experience using the LAMP stack. I left the industry for some years to work behind a bar. It was a good experience, but one that I'm ready to leave behind. For the last several months I've been brushing up on my JS skills via Team Treehouse. I look forward to finding a role that allows me to build on these newly refreshed skills.  
            
            
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li JavaScript
          li HTML
          li CSS
          li Express
          li PHP 
          li Python
          li Bash Scripting

        h6 Contact Info

        ul
          li 971-555-1234
          li paulreyneveld@yahoo.com

        a.button.expanded(href='https://github.com/paulreyneveld') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  
